#navigation ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-family: 'Quicksand', sans-serif;
    margin-top: 0;
}

#navigation ul li {
    display: inline;
    margin: 0 1em;
}
#navigation ul li a {
    font-weight:600;
    color: rgb(255, 255, 255);
}
#navigation ul li a.current {
    text-decoration: none;
}

.body-fit {
    width: 75%;
    margin: 0 auto;
}

@media screen and (max-width: 420px) {
    .body-fit {
        width: 100%;
    }

    #navigation ul li {
        display: block;
    }

    #navigation ul {
        margin: 0;
    }
    

}